<div class="pl-0 checklistContainer">
  <h1 class="mainHeading">Profile Completeness</h1>
  <h6 class="h6">Your Profile Score</h6>
  <div class="progress">
    <div class="progress-bar">
      <div class="progress-text">
        <span class="upArrow"><i class="fa fa-caret-up" aria-hidden="true"></i></span>
        <span class="percent-txt">75% Done</span>
      </div>


    </div>
  </div>

  <div class="row checklists">
    <div class="col-md-8 pl-0">
      <div class="checklist-txt">
        <div class="checklist-icon pl-0 pr-0">
          <div class="transparent-circle"><i aria-hidden="true" class="fa fa-times-thin"></i></div>
        </div>
        <div>Upload at least 24 high quality photos</div>
      </div>
    </div>
    <div class="col-md-4 checklist-add">
      <a href="#">Add Photos</a>
    </div>
  </div>

  <div class="row checklists">
    <div class="col-md-8 pl-0">
      <div class="checklist-txt">
        <div class="checklist-icon pl-0 pr-0">
          <div class="circle-checked"><span class="checkmark"></span></div>
        </div><div>Tag all of your photos</div>
      </div>
    </div>
    <div class="col-md-4 checklist-add">
      <a href="#">Tag Photos</a>
    </div>
  </div>

  <div class="row checklists">
    <div class="col-md-8 pl-0">
      <div class="checklist-txt">
        <div class="checklist-icon pl-0 pr-0">
          <div class="transparent-circle"><i aria-hidden="true" class="fa fa-times-thin"></i></div>
        </div><div>Add or tag a photo of your swimming pool</div>
      </div>
    </div>
    <div class="col-md-4 checklist-add">
      <a href="#">Upload or Tag Photos</a>
    </div>
  </div>

  <div class="row checklists">
    <div class="col-md-8 pl-0">
      <div class="checklist-txt">
        <div class="checklist-icon pl-0 pr-0">
          <div class="transparent-circle"><i aria-hidden="true" class="fa fa-times-thin"></i></div>
        </div><div>Add or tag a photo of your restaurant</div>
      </div>
    </div>
    <div class="col-md-4 checklist-add">
      <a href="#">Upload or Tag Photos</a>
    </div>
  </div>

  <div class="row checklists">
    <div class="col-md-8 pl-0">
      <div class="checklist-txt">
        <div class="checklist-icon pl-0 pr-0">
          <div class="transparent-circle"><i aria-hidden="true" class="fa fa-times-thin"></i></div>
        </div><div>Add or tag a photo of your property's exterior</div>
      </div>
    </div>
    <div class="col-md-4 checklist-add">
      <a href="#">Upload or Tag Photos</a>
    </div>
  </div>

  <div class="row checklists">
    <div class="col-md-8 pl-0">
      <div class="checklist-txt">
        <div class="checklist-icon pl-0 pr-0">
          <div class="transparent-circle"><i aria-hidden="true" class="fa fa-times-thin"></i></div>
        </div><div>Add the language you speak</div>
      </div>
    </div>
    <div class="col-md-4 checklist-add">
      <a href="#">Add Language</a>
    </div>
  </div>

  <div class="row checklists">
    <div class="col-md-8 pl-0">
      <div class="checklist-txt">
        <div class="checklist-icon pl-0 pr-0">
          <div class="transparent-circle"><i aria-hidden="true" class="fa fa-times-thin"></i></div>
        </div><div>Include a welcome message</div>
      </div>
    </div>
    <div class="col-md-4 checklist-add">
      <a href="#">Update Welcome Message</a>
    </div>
  </div>

  <div class="row checklists">
    <div class="col-md-8 pl-0">
      <div class="checklist-txt">
        <div class="checklist-icon pl-0 pr-0">
          <div class="transparent-circle"><i aria-hidden="true" class="fa fa-times-thin"></i></div>
        </div><div>Add at least 4 photos per room</div>
      </div>
    </div>
    <div class="col-md-4 checklist-add">
      <a href="#">Add More Photos</a>
    </div>
  </div>

  <div class="row checklists">
    <div class="col-md-8 pl-0">
      <div class="checklist-txt">
        <div class="checklist-icon pl-0 pr-0">
          <div class="transparent-circle"><i aria-hidden="true" class="fa fa-times-thin"></i></div>
        </div><div>Add high quality photos for all of your rooms</div>
      </div>
    </div>
    <div class="col-md-4 checklist-add">
      <a href="#">Upload New Photos</a>
    </div>
  </div>

  <div class="row checklists">
    <div class="col-md-8 pl-0">
      <div class="checklist-txt">
        <div class="checklist-icon pl-0 pr-0">
          <div class="transparent-circle"><i aria-hidden="true" class="fa fa-times-thin"></i></div>
        </div><div>Specify bed sizes for each room</div>
      </div>
    </div>
    <div class="col-md-4 checklist-add">
      <a href="#">Add Bed Size</a>
    </div>
  </div>

  <div class="row checklists">
    <div class="col-md-8 pl-0">
      <div class="checklist-txt">
        <div class="checklist-icon pl-0 pr-0">
          <div class="transparent-circle"><i aria-hidden="true" class="fa fa-times-thin"></i></div>
        </div><div>Specify the room sizes</div>
      </div>
    </div>
    <div class="col-md-4 checklist-add">
      <a href="#">Add Room Size</a>
    </div>
  </div>

  <div class="row checklists">
    <div class="col-md-8 pl-0">
      <div class="checklist-txt">
        <div class="checklist-icon pl-0 pr-0">
          <div class="transparent-circle"><i aria-hidden="true" class="fa fa-times-thin"></i></div>
        </div><div>Add information about your breakfast</div>
      </div>
    </div>
    <div class="col-md-4 checklist-add">
      <a href="#">Add Breakfast Type</a>
    </div>
  </div>

  <div class="row checklists">
    <div class="col-md-8 pl-0">
      <div class="checklist-txt">
        <div class="checklist-icon pl-0 pr-0">
          <div class="transparent-circle"><i aria-hidden="true" class="fa fa-times-thin"></i></div>
        </div><div>Add information about your surrounding area</div>
      </div>
    </div>
    <div class="col-md-4 checklist-add">
      <a href="#">Add Surrounding Area Details</a>
    </div>
  </div>

  <div class="row checklists">
    <div class="col-md-8 pl-0">
      <div class="checklist-txt">
        <div class="checklist-icon pl-0 pr-0">
          <div class="transparent-circle"><i aria-hidden="true" class="fa fa-times-thin"></i></div>
        </div><div>Add directions to your property</div>
      </div>
    </div>
    <div class="col-md-4 checklist-add">
      <a href="#">Add Directions</a>
    </div>
  </div>

  <div class="row checklists">
    <div class="col-md-8 pl-0">
      <div class="checklist-txt">
        <div class="checklist-icon pl-0 pr-0">
          <div class="transparent-circle"><i aria-hidden="true" class="fa fa-times-thin"></i></div>
        </div><div>Add swimming pool information</div>
      </div>
    </div>
    <div class="col-md-4 checklist-add">
      <a href="#">Add Swimming Pool Information</a>
    </div>
  </div>

  <div class="row checklists">
    <div class="col-md-8 pl-0">
      <div class="checklist-txt">
        <div class="checklist-icon pl-0 pr-0">
          <div class="transparent-circle"><i aria-hidden="true" class="fa fa-times-thin"></i></div>
        </div><div>Add room amenities for your rooms</div>
      </div>
    </div>
    <div class="col-md-4 checklist-add">
      <a href="#">Add Room Amenities</a>
    </div>
  </div>

  <div class="row checklists last">
    <div class="col-md-8 pl-0">
      <div class="checklist-txt">
        <div class="checklist-icon pl-0 pr-0">
          <div class="transparent-circle"><i aria-hidden="true" class="fa fa-times-thin"></i></div>
        </div><div>Add bed information for your rooms</div>
      </div>
    </div>
    <div class="col-md-4 checklist-add">
      <a href="#">Add Bed Information</a>
    </div>
  </div>
</div>
