<div class="innerPageWrapper">
    <div class="customBreadcrumb mb-4"><span>Rate Category </span><span>&gt; Create New Rate Category</span></div> 
    <h1 class="mainHeading customBreadcrumb">Create New Rate Category <span class="mandatoryInfo float-right">Indicates Mandatory Fields</span> </h1>
    <form [formGroup]="rateForm" (ngSubmit)="saveRate()" >
    <div class ="row">
        <div class="col-md-8">
        <div class="row formSections borderBottomNone pb-0 pt-4">
        <div class="col-md-12 pt-0 pb-3">
            <div class="alignItemCenter">
          <span>Rate Category Status</span>
          <div class="form-group hotelStatus ml-2">
            <div class="form-check form-check-inline">
            <mat-checkbox formControlName="isActive" (change)="flagControlsAsEdited()">Active</mat-checkbox>
            </div>
          </div>
        </div>
        </div>
        </div>

        <div class="row formSections mb-0 pb-3 pt-2">
            <div class="form-group col-md-12">
            <h2 class="pb-3">Contract type</h2>
                <mat-radio-group formControlName="isStatic" (change)="flagContractTypeAsEdited()" class="row">
                    <mat-radio-button class="pb-2 col-md-2" [value]="true">Static</mat-radio-button>
                    <mat-radio-button class="pb-2 col-md-3" [value]="false">Dynamic</mat-radio-button>
                </mat-radio-group>
            </div>
            <div class="form-group col-md-6">
                <mat-form-field class="example-full-width">
                <input matInput placeholder="Name of your rate category?" (change)="flagControlsAsEdited()" formControlName="name" id="name" maxlength="150" required/>
                </mat-form-field>
                <span class="nameNote">This name is just of you. Not displayed to Customers</span>
                </div>
        </div>
          
        <div class="row formSections mb-0 pb-3">
            <div class="form-group col-md-12">
            <h2 class="pb-3 requiredLabel">Which room types?</h2>
                <div class="row mb-2 pb-1" formArrayName="roomTypeList" *ngFor="let roomType of roomTypeList.controls; let i =index">                    
                        <div class="col-md-6" [formGroupName]="i">
                            <mat-checkbox formControlName="isSelected" (change)="flagRoomTypeAsEdited(i)" class="pl-0 roomCheckBox">{{roomType.get('roomName').value}}</mat-checkbox>
                        </div>                                     
                </div>
            </div>
            <mat-error *ngIf="rateForm.errors?.ValidateArrangmentRoom && rateForm.dirty">
                Select room types.
            </mat-error>
        </div>
        
        <div class="row formSections mb-0 pb-3">
            <div class="form-group col-md-12">
            <h2 class="pb-3">Which cancellation policy?</h2>
                <mat-radio-group formControlName="cancellationPolicyId" (change)="flagCancellationPolicyAsEdited()">
                    <ng-container *ngFor="let cancellationPolicy of cancellationPolicyList">
                        <mat-radio-button class="pb-2" [value]="cancellationPolicy.cancellationPolicyId">{{cancellationPolicy.name}}</mat-radio-button>
                    </ng-container> 
                </mat-radio-group>
            </div>
        </div>
        
        <div class="row formSections mb-0 pb-3">	
            <div class="form-group col-md-12">
            <h2 class="pb-3">Which meal types?</h2>
                <mat-radio-group formControlName="mealId" (change)="flagMealTypeAsEdited()">
                    <ng-container *ngFor="let meal of mealList">
                        <mat-radio-button class="pb-2" [value]="meal.id">{{meal.meal}}</mat-radio-button>
                    </ng-container> 
                </mat-radio-group>
            </div>
        </div>

        <div class="col-md-12 p-0">
            <div class="row formSections mb-0 pb-2 borderBottomNone">
                    
                <div class="form-group col-md-8">
                <h2 class="pb-3">Which market?</h2>
                <mat-form-field>
                        <mat-select formControlName="marketId" placeholder="Select" name="marketSelect" (change)="flagMarketAsEdited()">
                        <mat-option>Select</mat-option>
                        <ng-container *ngFor="let market of marketList">
                        <mat-option [value]="market.marketId">{{market.marketName}}</mat-option>
                        </ng-container>
                        </mat-select>
                        </mat-form-field>
                </div>
                <div class="pl-2 pt-5 mt-3 pr-4">
                OR
                </div>
                <div class="col-md-3 pl-0 pt-5 mt-2 controlButtons">
                <!-- <mat-form-field>
                <mat-select placeholder="Create New Market" name="newMarket">
                <mat-option>Select</mat-option>
                </mat-select>
                </mat-form-field> -->
                <button title="Create New Market" type="button" [disabled]="isRead" class="genericButton defaultButton genericSmallButton float-none mat-raised-button" mat-raised-button (click)="createMarket()">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i><span>Create New Market</span>
                </button>
                </div>
            </div>
            </div> 

    </div>
        
        <div class="col-md-4 pt-4">
        <div class="reviewSection pt-4 mt-0">
            <h2 class="pb-2 pt-1 mb-2">Review Rate Category</h2>
            <h6 class="semiBold reviewTitle pt-1 borderTopNone">Contract Type</h6>
            <span class="pb-2 d-block">{{contractTypeReiew}}</span>
            <h6 class="semiBold reviewTitle pt-3">Rate Category Name</h6>
            <span class="pb-2 d-block">{{rateForm.get('name').value}}</span>
            
            <h6 class="semiBold reviewTitle pt-3">Rooms using this rate</h6>
            <span class="pb-2 d-block">
                <ul class="pl-0 ml-0 mb-0">
                    <ng-container *ngFor="let roomN of roomNameReview">
                        <li>{{roomN}}</li>
                    </ng-container>
               </ul>
            </span>
            
            <h6 class="semiBold reviewTitle pt-3">Cancellation Policy</h6>
            <span class="pb-2 d-block">
                {{cancellationPolicyNameReiew}}
            </span>
            
            <h6 class="semiBold reviewTitle pt-3">Meal Type</h6>
            <span class="pb-2 d-block">
                {{mealNameReiew}}
            </span>

            <h6 class="semiBold reviewTitle pt-3">Market</h6>
            <span class="pb-2 d-block">
                {{marketNameReiew}}
            </span>
        </div>
        </div>
           
    </div>
        
        
        <div class="row">
            <div class="col-md-8">
                <div class="mt-0 mb-0 row lightBlueContainer position-relative pb-3 ml-0 mr-0">
                <div class="co-md-12">
                <h6 class="h6 darkGreyText mavenProMedium">Market details</h6>
                    <mat-form-field class="pb-3">
                      <textarea placeholder="Included Countries" rows="5" cols="70" readonly matInput>{{includedcountryNames}}</textarea>
                    </mat-form-field>
                    <mat-form-field>
                      <textarea placeholder="Excluded Countries" rows="5" cols="70" readonly matInput>{{excludedcountryNames}}</textarea>
                    </mat-form-field>
                </div>
            </div>
                
            </div>
        </div>
        
       
             <div class="controlButtons paddingTop50px pb-4 mb-1">
                <button title="Save" type="submit" class="genericButton activeButton mat-raised-button mat-primary"  mat-raised-button [disabled]="(!rateForm.valid || !rateForm.dirty)">Save</button>
                <button title="Cancel" type="button" class="genericButton defaultButton" mat-raised-button (click)="cancelRateCategory()">Cancel</button>                      
             </div>
        
        </form>   
    </div>
