<div id="collapseExample">
  <div id="hotelNav">
    <!-- <div class="row profileWrapper">
       <div class="col-md-12 pl-0 pr-0" >
        <div *ngIf="!isCreate" class="card hovercard row">
          <div class="col-md-4">
            <div class="avatar">
              <img alt="" src="assets/hotels/Hilton-logo.jpg" title="Hilton">
            </div>
          </div>
          <div class="col-md-8 userProfileDetails pl-0">
            <div class="info userDetails">
              <div class="title">
                <a>Hilton California</a>
              </div>
              <div class="desc">San Francisco,California, USA</div>
            </div>
          </div>
        </div>
      </div>
    </div>-->
    <div class="LeftNavBar">
      <div [ngClass]="{'NavLink':!isCreate , 'disable-NavLink':isCreate}"><a [routerLink]="['profilecompl']" routerLinkActive="active-link"> Profile completeness</a></div>
      <div class="NavLink"><a [routerLink]="['hoteldetails']" routerLinkActive="active-link">Hotel Info</a></div>
      <div [ngClass]="{'NavLink':!isCreate , 'disable-NavLink':isCreate}"><a [routerLink]="['roomtypelist']" routerLinkActive="active-link">Room Type</a></div>
      <div [ngClass]="{'NavLink':!isCreate , 'disable-NavLink':isCreate}"><a [routerLink]="['facilitiesservices']" routerLinkActive="active-link">Facilities & Services</a></div>
      <div [ngClass]="{'NavLink':!isCreate , 'disable-NavLink':isCreate}"><a [routerLink]="['amenities']" routerLinkActive="active-link">Amenities</a></div>
      <div [ngClass]="{'NavLink':!isCreate , 'disable-NavLink':isCreate}"><a [routerLink]="['photos']" routerLinkActive="active-link">Photos & Videos</a></div>
      <div [ngClass]="{'NavLink':!isCreate , 'disable-NavLink':isCreate}"><a [routerLink]="['mealplan']" routerLinkActive="active-link">Associate Meal Plan</a></div>
      <div [ngClass]="{'NavLink':!isCreate , 'disable-NavLink':isCreate}"><a [routerLink]="['policieslist']" routerLinkActive="active-link">Policies</a></div>
      <div [ngClass]="{'NavLink':!isCreate , 'disable-NavLink':isCreate}"><a [routerLink]="['ratecategory']" routerLinkActive="active-link">Rate Category</a></div>
      <div [ngClass]="{'NavLink':!isCreate , 'disable-NavLink':isCreate}"><a [routerLink]="['allocation']" routerLinkActive="active-link">Allocations</a></div>
      <div [ngClass]="{'NavLink':!isCreate , 'disable-NavLink':isCreate}"><a [routerLink]="['promotionlist']" routerLinkActive="active-link">Promotions</a></div>
      <div [ngClass]="{'NavLink':!isCreate , 'disable-NavLink':isCreate}"><a [routerLink]="['messagelist']" routerLinkActive="active-link">Messages Setup</a></div>
    </div>
  </div>
</div>
