<div class="container-fluid">
  <div class="mt-5">
    <h1 class="mainHeading mb-4">Create New Children & Extra Bed Policy</h1>
    <div class="row">
      <div class="col-md-9">
        <div class="formSections paddingLeft30px pt-4 pb-4">
          <div class="row">
            <div class="form-group col-md-12 col-lg-12">
              <h2>Child</h2>
              <h6 class="h6 pb-0 pt-3 darkGreyText">Do you allow children at your property?</h6>
              <span class="font-italic pb-4 nameNote d-block pt-0 text-left">(You can specify the ages and prices later)</span>
              <mat-button-toggle-group class="disableFields disabledToggleBtn">
                <mat-button-toggle [value]="true" disabled="true">
                  Yes
                </mat-button-toggle>
                <mat-button-toggle [value]="false" disabled="true">
                  No
                </mat-button-toggle>
              </mat-button-toggle-group>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-12 pt-4 mb-0">
              <h6 class="h6 requiredLabel disabledLabel">What age are children allowed?</h6>
              <div class="row customeRow">
                <div class="col-md-3">
                  <mat-form-field class="disableFields">
                    <mat-select placeholder="Min. Age" [disabled]="true">

                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-3">
                  <mat-form-field class="disableFields">
                    <mat-select placeholder="Max. Age" [disabled]="true">

                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="formSections paddingLeft30px">
          <div class="row">
            <div class="form-group col-md-12 pt-0 pb-0 mb-0">
              <h2>Cot & Extra Bed Options</h2>
              <h6 class="h6 pb-3 pt-2 darkGreyText">Can you provide cots in any of your rooms/units (upon request)</h6>
              <mat-button-toggle-group class="disableFields disabledToggleBtn">
                <mat-button-toggle [value]="true" disabled="true">
                  Yes
                </mat-button-toggle>
                <mat-button-toggle [value]="false" disabled="true">
                  No
                </mat-button-toggle>
              </mat-button-toggle-group>
              <h2 class="pt-4 mt-2 pb-3">Cots</h2>
              <h6 class="h6 pb-3 pt-2 darkGreyText">Set your prices and age restrictions for cots.</h6>
              <div class="ageSet mt-3">


                <div class="row customeRow">
                  <div class="col-md-3 mb-0">
                    <mat-form-field class="disableFields">
                      <mat-select placeholder="Age Upto" required disabled>
                        <mat-option>Select</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>

                <div class="row customeRow">
                  <div class="col-md-3 mb-0">
                    <mat-form-field class="disableFields">
                      <mat-select placeholder="Price" required disabled>
                        <mat-option>Free</mat-option>
                        <mat-option>Paid</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-md-3 mb-0">
                    <mat-form-field class="disableFields">
                      <input matInput placeholder="Enter Price" disabled="true"/>
                    </mat-form-field>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="formSections paddingLeft30px">
            <div class="col-md-12 pt-2 pl-0">
              <h2>Extra Beds</h2>
              <h6 class="h6 pb-3 pt-2 darkGreyText">Can you provide extra beds in any of your rooms/ units (upon request)?</h6>
              <mat-button-toggle-group class="disableFields disabledToggleBtn">
                <mat-button-toggle [value]="true" disabled="true">
                  Yes
                </mat-button-toggle>
                <mat-button-toggle [value]="false" disabled="true">
                  No
                </mat-button-toggle>
              </mat-button-toggle-group>
            </div>
        </div>

        <div class="formSections borderBottomNone paddingLeft30px pb-3">
            <div class="form-group col-md-12 pt-2 pl-0">
              <h2>Maximum Children and Extra Beds per Room/Units</h2>
              <h6 class="h6 pb-3 pt-2 darkGreyText">Set maximum children and extra beds per room/units.</h6>
              <table class="table genericTable">
                <thead>
                  <tr>
                    <th class="hotelNameTH align-middle">Name</th>
                    <th class="guestsTH">Number of Guest</th>
                    <th class="bedsTH align-middle">Beds</th>
                    <th class="maxChildrenTH align-middle">Maximum Children *</th>
                    <th class="extraBedsTH align-middle">Extra Beds *</th>
                  </tr>
                </thead>
              </table>
            </div>
        </div>
      </div>
    </div>
    <div class="controlButtons mb-4 borderTopDark pt-5">
      <button title="Save" type="button" class="genericButton activeButton mat-primary mat-raised-button"  (click)="savePolicy()">Save</button>
      <button title="Cancel" type="button" class="genericButton defaultButton mat-raised-button" mat-raised-button (click)="backToList()">Cancel</button>
      <button class="genericButton activeButton mat-primary mat-raised-button float-right" title="Save & Continue" type="button" (click)="saveandContinue()">Save & Continue</button>
    </div>
  </div>
</div>
