.roomNameTh{
    width: 18%;
}

.roomSingleTh{
    width: 20%;
}

.roomFreeSaleTh{
    width: 15%;
}

.roomGuestNumberTh{
    width: 20%;
}

.roomStatusTh{
    width: 12%;
}

.roomActionTh{
    width: 15%;
}


