<div class="innerPageWrapper">
<h1 class="mainHeading mb-4">
  Room Type</h1>
<div class="row pt-1">
  <div class="col-md-12 text-right controlButtons pb-1">
      <button [hidden]='isRead'  title="Create New Room" type="submit" class="defaultButton mb-3 genericButton genericSmallButton mat-raised-button" mat-raised-button (click)="createRoomType()">
          <i class="fa fa-plus-circle" aria-hidden="true"></i><span>Create New Room</span>
      </button>         
  </div>
</div>

  <mat-table #roomTable [dataSource]="dataSource" matSort matSortActive="roomName" matSortDirection="asc" class="genericTable mb-4 flexNone">

    <ng-container matColumnDef="roomName">
      <mat-header-cell class="roomNameTh" *matHeaderCellDef mat-sort-header> Room Name </mat-header-cell>
      <mat-cell class="roomNameTh" *matCellDef="let element"><a [routerLink]="['../roomtype', element.roomId, read]"> {{element.roomName}} </a></mat-cell>
    </ng-container>

    <ng-container matColumnDef="noOfRooms">
      <mat-header-cell class="roomSingleTh" *matHeaderCellDef mat-sort-header> Number of Rooms </mat-header-cell>
      <mat-cell class="roomSingleTh" *matCellDef="let element"> {{element.noOfRooms}} </mat-cell>
    </ng-container>

    <!-- <ng-container matColumnDef="noOfDoubleRooms">
    <mat-header-cell class="text-center roomDoubleTh" *matHeaderCellDef mat-sort-header> Total Number of Double Rooms
    </mat-header-cell>
    <mat-cell class="text-center roomDoubleTh" *matCellDef="let element">{{element.noOfDoubleRooms}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="noOfTwinRooms">
    <mat-header-cell class="text-center roomTwinTh" *matHeaderCellDef mat-sort-header> Total Number of Twin Rooms </mat-header-cell>
    <mat-cell class="text-center roomTwinTh" *matCellDef="let element"> {{element.noOfTwinRooms}} </mat-cell>
  </ng-container> -->

    <ng-container matColumnDef="isFreeSale">
      <mat-header-cell class="roomFreeSaleTh" *matHeaderCellDef mat-sort-header> Is Free Sale </mat-header-cell>
      <mat-cell class="roomFreeSaleTh" *matCellDef="let element">
        <ng-container *ngIf="element.isFreeSale == true">Yes</ng-container>
        <ng-container *ngIf="!element.isFreeSale">No</ng-container>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="noOfGuests">
      <mat-header-cell class="roomGuestNumberTh" *matHeaderCellDef mat-sort-header> Number of Guest (Per Room) </mat-header-cell>
      <mat-cell class="roomGuestNumberTh" *matCellDef="let element"> {{element.noOfGuests}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="isActive">
      <mat-header-cell class="roomStatusTh" *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
      <mat-cell class="roomStatusTh" *matCellDef="let element">
        <ng-container *ngIf="element.isActive == true">
          <i class="fa fa-circle active_status" aria-hidden="true"></i>Active</ng-container>
        <ng-container *ngIf="!element.isActive">
          <i class="fa fa-circle inactive_status" aria-hidden="true"></i>InActive</ng-container>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions" class="text-center">
      <mat-header-cell class="roomActionTh invisible" [hidden]='isRead' *matHeaderCellDef mat-sort-header> </mat-header-cell>
      <mat-cell class="roomActionTh placeholderColorGray" [hidden]='isRead' *matCellDef="let element">
        <mat-select placeholder="Actions" name="Actions" [(ngModel)]="actions">
          <mat-option value="{{element.roomId}}-edit" #edit (click)="GoRoomUpdate(edit.value)">Edit</mat-option>
          <mat-option value="{{element.roomId}}-delete" #delete (click)="GoRoomDelete(delete.value)">Delete</mat-option>
        </mat-select>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <div style="color:orange" *ngIf="noDataAvailable">
    No Room type is created.
  </div>

  <div class="paginationWrapper">
    <span class="pageCount" *ngIf="!noDataAvailable">Page: {{(pageEvent) ? pageEvent.pageIndex + 1 : 1}} of {{(pageEvent) ? Math.ceil(pageEvent.length/pageEvent.pageSize)
      : Math.ceil(totalRecords/20)}}</span>
    <mat-paginator *ngIf="!noDataAvailable" class="genericPagination" (page)="pageEvent = $event" #paginator [pageSize]="20"
      [pageSizeOptions]="[5, 10, 20, 50]">
    </mat-paginator>
  </div>
</div>