:host {
  background: #666666;
  padding: 15px 0;
  color: #adadad;
  font-size: 14px;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 100;
  position: fixed;
  bottom: 0;
}


footer a {
  color: #fff;
  font-size: 0.9em;
}
