<div class="container-fluid">

  <div class="mt-4">
    <div class="customBreadcrumb mb-4">
        <span>Template </span><span>&gt; {{breadcrumbs}} Template</span>
    </div>
    <h1 class="mainHeading borderBottomNone customBreadcrumb">{{breadcrumbs}} Template <span class="mandatoryInfo float-right">Indicates Mandatory Fields</span></h1>
    <p class="m-0">Complete below steps to create your new template</p>
    <div class="row mb-4 mt-5">
      <div class="col-md-12">
        <div class="lightBlueContainer pb-2 pl-2 pr-2 pt-3 mb-3">
          <div class="form-group col-md-4 mb-0">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Template Name"  (keyup)="checkTemplateName()" (change)="getTemplateName()" [(ngModel)]="templateName"
                required  [disabled]="isNameEditable"/>
            </mat-form-field>
          </div>
          <div class="col-md-12 templateNameError">
            <mat-error *ngIf="uniqueNameError">
              Template name already exists.
            </mat-error>
          </div>
        </div>
      </div>
    </div>

    <div class="mb-4">
      <mat-chip-list *ngIf="isDisabledTab" class="genericProcessFlow">
        <mat-chip *ngFor=" let chip of chipsList; let i=index" [selected]="chip.selected" [color]="chip.chipcolor" disabled>
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-stack-1x fa-inverse">{{i+1}}</i>
          </span>{{chip.chipname}}</mat-chip>
      </mat-chip-list>
      <mat-chip-list *ngIf="!isDisabledTab" class="genericProcessFlow">
        <mat-chip *ngFor=" let chip of chipsList; let i=index" (click)="changeChip(chip, chipsList)" [selected]="chip.selected" [color]="chip.chipcolor"
          [routerLink]="[chip.routerLink]">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-stack-1x fa-inverse">{{i+1}}</i>
          </span>{{chip.chipname}}</mat-chip>
      </mat-chip-list>
    </div>
    <nav mat-tab-nav-bar *ngIf="showhotelinfo" id="hotelinfo" class="genericTab mb-4">
      <a mat-tab-link routerLinkActive="active" label="Hotel Info" [routerLink]="['hoteldetails']">Hotel Info</a>
      <a *ngIf="!isDisabledTab" mat-tab-link routerLinkActive="active" label="Facilities and Services" [routerLink]="['facilitiesservices']">Facilities and Services</a>
      <a *ngIf="isDisabledTab" mat-tab-link routerLinkActive="active" label="Facilities and Services">Facilities and Services</a>
    </nav>
    <nav mat-tab-nav-bar *ngIf="showRate" id="rate" class="genericTab mb-4">
      <a *ngIf="!isDisabledTab" mat-tab-link routerLinkActive="active" label="room type" [routerLink]="['roomtype']">Room Type</a>
      <a *ngIf="!isDisabledTab" mat-tab-link routerLinkActive="active" label="amenities" [routerLink]="['amenities']">Amenities</a>
      <a *ngIf="!isDisabledTab" mat-tab-link routerLinkActive="active" label="mealplan" [routerLink]="['mealplan']">Meal Plan</a>

      <a *ngIf="!isDisabledTab && !iscancellationpolicy" mat-tab-link routerLinkActive="active" label="Policies" [routerLink]="['childpolicy']">Policies</a>

      <a *ngIf="!isDisabledTab && iscancellationpolicy" mat-tab-link routerLinkActive="active" label="Policies" [routerLink]="['cancellationpolicy']">Policies</a>

      <a *ngIf="!isDisabledTab" mat-tab-link routerLinkActive="active" label="rate category" [routerLink]="['ratecategory']">Rate Category</a>

      <a *ngIf="isDisabledTab" mat-tab-link routerLinkActive="active" label="room type">Room Type</a>
      <a *ngIf="isDisabledTab" mat-tab-link routerLinkActive="active" label="amenities">Amenities</a>
      <a *ngIf="isDisabledTab" mat-tab-link routerLinkActive="active" label="mealplan">Meal Plan</a>
      <a *ngIf="isDisabledTab" mat-tab-link routerLinkActive="active" label="Policies">Policies</a>
      <a *ngIf="isDisabledTab" mat-tab-link routerLinkActive="active" label="rate category">Rate Category</a>
    </nav>
  </div>
</div>
