.rateCategoryTh{
    width: 15%;
}

.contractTypeTh {
    width: 10%;
}

.roomNameTh{
    width: 15%;
}

.cancellationPolicyTh{
    width: 13%;
}

.mealPlanTh{
    width: 10%;
}

.marketTh{
    width: 13%;
}

.rateStatusTh{
    width: 12%;
}

.rateActionTh{
    width: 12%;
}
