<div class="example-container">

	<mat-form-field>
		<input matInput placeholder="Old password" [formControl]="oldpassword" [type]="hide1 ? 'password' : 'text'" required>
		<mat-icon matSuffix (click)="hide1 = !hide1">{{hide1 ? 'visibility' : 'visibility_off'}}</mat-icon>
		<mat-error *ngIf="oldpassword.invalid">{{getErrorMessage1()}}</mat-error>
	</mat-form-field>

	<mat-form-field hintLabel="Min 6 characters">
		<input matInput placeholder="New password" #newPassword [formControl]="newpassword" [type]="hide2 ? 'password' : 'text'"
		 name="newPassword" (keyup)="checkLength(newPassword.value)" required>
		<mat-icon matSuffix (click)="hide2 = !hide2">{{hide2 ? 'visibility' : 'visibility_off'}}</mat-icon>
		<mat-error *ngIf="newpassword.invalid">{{getErrorMessage2()}}</mat-error>
	</mat-form-field>

  <span *ngIf="invalid">Password must be at least 6 characters long</span>
	<mat-form-field>
		<input matInput placeholder="Confirm password" #confirmPassword [formControl]="confirmpassword" [type]="hide3 ? 'password' : 'text'"
		 name="confirmPassword" (keyup)="checkEqual(newPassword.value,confirmPassword.value)" required>
		<mat-icon matSuffix (click)="hide3 = !hide3">{{hide3 ? 'visibility' : 'visibility_off'}}</mat-icon>
	</mat-form-field>
	<span *ngIf="!same && (confirmpassword.dirty || confirmpassword.touched)">Passwords do not match</span>

	<div>
		<button [disabled]="oldpassword.invalid || invalid || !same" mat-raised-button type="submit">Submit</button>
		<button mat-raised-button>Cancel</button>
	</div>

</div>