<div class="container-fluid">
  <div class="mt-4 pt-2">
    <h1 class="mainHeading pb-0 borderBottomNone">Agents</h1>
    <div class="row mt-4 mb-0">
      <form [formGroup]="searchUsers" (ngSubmit)="findUsers(searchUsers.get('searchText').value,searchUsers.get('startDate').value,searchUsers.get('endDate').value)"
            class="w-100">
        <div class="col-md-12">
          <div class="lightBlueContainer pb-0 pl-4 pr-4 pt-4 mb-4">
            <div class="row">
              <div class="col-md-12">

                <div class="row">

                  <div class="col-md-7 pr-5">
                    <mat-form-field>
                      <input matInput placeholder="Search by User Name, Agency Name, Agency Code, Branch Name, Email Id, Designation, Roles, Activation date " formControlName="searchText" (keydown.backspace)="checkIsInputCleared()">
                    </mat-form-field>
                  </div>

                  <div class="col-md-2 pl-0">
                    <mat-form-field class="width80percent">
                      <span matPrefix>From &nbsp;</span>
                      <mat-datepicker-toggle matSuffix [for]="sdate">
                        <mat-icon matDatepickerToggleIcon>
                          <i class="fa fa-calendar" aria-hidden="true"></i>
                        </mat-icon>
                      </mat-datepicker-toggle>
                      <input matInput [matDatepicker]="sdate" placeholder="DD-MMM-YY" formControlName="startDate">
                      <mat-datepicker #sdate></mat-datepicker>
                    </mat-form-field>
                    <span class="btn transparent-circle smallDeleteIcon ml-1" title="Delete">
                      <i class="fa fa-times-thin" aria-hidden="true" (click)="checkIsFromDateCleared();"></i>
                    </span>
                  </div>
                  <div class="col-md-2 pr-4">
                    <mat-form-field class="width80percent">
                      <span matPrefix>To &nbsp;</span>
                      <input matInput [matDatepicker]="enddate" placeholder="DD-MMM-YY" formControlName="endDate" [min]="searchUsers.get('startDate').value">
                      <mat-datepicker-toggle matSuffix [for]="enddate">
                        <mat-icon matDatepickerToggleIcon>
                          <i class="fa fa-calendar" aria-hidden="true"></i>
                        </mat-icon>
                      </mat-datepicker-toggle>
                      <mat-datepicker #enddate></mat-datepicker>
                    </mat-form-field>
                    <span class="btn transparent-circle smallDeleteIcon ml-1" title="Delete">
                      <i class="fa fa-times-thin" aria-hidden="true" (click)="checkIsToDateCleared();"></i>
                    </span>
                  </div>
                 
                  <div class="col-md-1 top10px controlButtons">
                    <button title="Search" type="submit" class="genericButton genericSmallButton activeButton mat-primary" mat-raised-button>Search</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="row">
      <div class="col-md-12 pt-4 mt-2 pb-3 mb-1 controlButtons">
        <button title="Create New Agent" type="submit" class="btn defaultButton genericButton genericSmallButton" mat-raised-button
                (click)="createAgent()">
          <i class="fa fa-plus-circle" aria-hidden="true"></i><span>Create New Agent</span>
        </button>
      </div>
    </div>
    <mat-table #table [dataSource]='!isSearch ? dataSource: filteredData' matSort (matSortChange)="sortData($event)" matSortActive="activationDate" matSortDirection="desc" class="flexNone genericTable mb-4 pb-1 mat-table">
      <ng-container matColumnDef="firstName">
        <mat-header-cell class="firstnameTH alignItemCenter" *matHeaderCellDef mat-sort-header> First/Last Name </mat-header-cell>
        <mat-cell class="firstnameTH" *matCellDef="let element"><div class="d-flex"><div><mat-icon class="userIcon alignItemCenter">account_circle</mat-icon></div><span class="pl-1 alignItemCenter">{{element.firstName}} {{element.lastName}}</span></div></mat-cell>
      </ng-container>
      <ng-container matColumnDef="userName">
        <mat-header-cell class="usernameTH" *matHeaderCellDef mat-sort-header> User Name </mat-header-cell>
        <mat-cell class="usernameTH" *matCellDef="let element"> {{element.userName}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="agencyName">
        <mat-header-cell class="agencyTH" *matHeaderCellDef mat-sort-header> <div>Agency Name/<div>Code</div></div></mat-header-cell>
        <mat-cell class="agencyTH" *matCellDef="let element"> {{element.agencyName}} - {{element.agencyCode}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="branchName">
        <mat-header-cell class="branchTH" *matHeaderCellDef mat-sort-header> Branch Name </mat-header-cell>
        <mat-cell class="branchTH" *matCellDef="let element"> {{element.branchName}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="designation">
        <mat-header-cell class="designationTH" *matHeaderCellDef mat-sort-header> Designation </mat-header-cell>
        <mat-cell class="designationTH" *matCellDef="let element"> {{element.designation}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="email">
        <mat-header-cell class="emailTH" *matHeaderCellDef mat-sort-header> Email ID </mat-header-cell>
        <mat-cell class="emailTH" *matCellDef="let element"> {{element.email}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="userApplicationRole">
        <mat-header-cell class="userApplicationRoleTH" *matHeaderCellDef mat-sort-header>
          Role
        </mat-header-cell>
        <mat-cell class="userApplicationRoleTH" *matCellDef="let element">
          <ng-container *ngFor="let c of element.userApplicationRole">
            <span class="d-block"> {{c.roleName}}</span>
          </ng-container>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="activationDate">
        <mat-header-cell class="activationTH" *matHeaderCellDef mat-sort-header>
          <div>Activation/<div>Inactivation Date</div></div>
        </mat-header-cell>
        <mat-cell class="activationTH" *matCellDef="let element">
          <span class="d-block">{{element.activationDate | date : "dd-MMM-yy"}}<span *ngIf="!element.isActive && element.deActivationDate != null">/</span></span>
          <ng-container *ngIf="!element.isActive && element.deActivationDate != null ">
            {{element.deActivationDate | date : "dd-MMM-yy"}}
          </ng-container>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="isActive">
        <mat-header-cell class="userStatusTH noOutlineOnFocus" *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
        <mat-cell class="userStatusTH" *matCellDef="let element">
          <ng-container *ngIf=" element.isActive == true">
            <i class="fa fa-circle active_status" aria-hidden="true"></i>Active
          </ng-container>
          <ng-container *ngIf="!element.isActive">
            <i class="fa fa-circle deactivate_status" aria-hidden="true"></i>Inactive
          </ng-container>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="actions" class="text-center">
        <mat-header-cell class="userActionTH noOutlineOnFocus" *matHeaderCellDef> </mat-header-cell>
        <mat-cell class="userActionTH placeholderColorGray" *matCellDef="let element">
          <mat-select placeholder="Actions" name="Actions" [(ngModel)]="actions">
            <ng-container *ngIf="element.isActive== true ">
              <mat-option value="{{element.id}}:edit" #edit (click)="goUserUpdate(edit.value)">Edit</mat-option>
            </ng-container>
            <mat-option value="{{element.id}}:delete" #delete (click)="goUserDelete(delete.value)">Delete</mat-option>
          </mat-select>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <div style="color:orange" *ngIf="noDataAvailable">
      No Agent is created.
    </div>
    <div style="color:orange" *ngIf="noRecordsFound">
      No Agent user record found.
    </div>
    <div class="paginationWrapper">
      <span class="pageCount" *ngIf="!noDataAvailable">
        Page: {{(pageEvent) ? pageEvent.pageIndex + 1 : 1}} of {{
(pageEvent) ? Math.ceil(pageEvent.length/pageEvent.pageSize)
        : Math.ceil(totalRecords/20)
        }}
      </span>
      <mat-paginator *ngIf="!noDataAvailable" class="genericPagination" (page)="pageEvent = $event" #paginator [pageSize]="20"
                     [pageSizeOptions]="[5, 10, 20]">
      </mat-paginator>
    </div>
    <!-- <mat-paginator #paginator class="genericPagination" [pageSize]="10" [pageSizeOptions]="[5, 10, 20]"></mat-paginator> -->
  </div>
  </div>
