<div class="container-fluid pt-4">
  <div class="customBreadcrumb mb-4">
    <span>Agents </span>
    <span>{{ (this.operation === 'create') ? "&gt; Create New Agent" : "&gt; Edit Agent" }}</span>
  </div>
  <h1 class="mainHeading mb-2 customBreadcrumb borderBottomNone">{{ (this.operation === 'create') ? "Create New Agent" : "Edit Agent" }}<span class="mandatoryInfo">Indicates Mandatory Fields</span></h1>

  <form [formGroup]="agentForm" (ngSubmit)="saveAgent()">

    <div class="row customeRow">
      <div class="form-group col-md-4 col-lg-3 mb-0 mt-4">
        <mat-form-field>
          <input type="text" matInput placeholder="Search by Agency Name/Code" formControlName="agency" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let agency of filteredOptions | async | orderBy: {property:'name', direction: direction} " [value]="agency" (onSelectionChange)="getBranches(agency.id)">
              {{ agency.name }} - {{agency.code}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div class="form-group col-md-4 col-lg-3 mb-0 mt-4">
        <mat-form-field>
          <input matInput placeholder="Search by Branch Name" name="branch" formControlName="branch" [matAutocomplete]="autoBranch">
          <mat-autocomplete #autoBranch="matAutocomplete" [displayWith]="displayBranchFn">
            <mat-option *ngFor="let branch of filteredBranchOptions | async" [value]="branch">
              {{ branch.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </div>

    <div class="row customeRow">
      <div class="col-md-2 col-lg-1">
        <div class="userImageSection">
          <mat-icon class="userImage">account_circle</mat-icon>
          <div class="image-upload">
            <label for="file-input">
              <img src="assets/uploadPhoto.png" title="Upload Image" />
            </label>
            <input id="file-input" type="file" />
          </div>
          <button class="deletePhoto" mat-raised-button title="Delete Image">
            <i class="fa fa-times-thin"></i>
          </button>

        </div>
      </div>
    </div>

    <div class="row customeRow">
      <div class="pt-1 form-group col-md-4 col-lg-3">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="First Name" id="firstName" formControlName="firstName" required />
          </mat-form-field>
        </div>
      <div class="pt-1 form-group col-md-4 col-lg-3">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Last Name" id="lastName" formControlName="lastName" required />
          </mat-form-field>
      </div>
      <div class="form-group pt-1 col-md-4 col-lg-3">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="User Name" id="userName" formControlName="userName" pattern="^(?!\s*$)(?!.*__.*)[-a-zA-Z0-9_.]*$" required />
        </mat-form-field>
      </div>
    </div>

    <div class="row customeRow">
      <div class="form-group col-md-4 col-lg-3">
          <mat-form-field>
            <mat-select placeholder="Designation" formControlName="designationId" required>
              <mat-option [value]="null">Select</mat-option>
              <mat-option *ngFor="let designation of designationList" [value]="designation.designationId">{{designation.title}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
       <div class="form-group col-md-4 col-lg-3">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Email ID" id="emailID" formControlName="email" pattern="\w+@\w+\.\w+(,\s*\w+@\w+\.\w+)*" required />
          </mat-form-field>
        </div>
      <div class="form-group col-md-4 col-lg-3">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Contact Number" id="contactNumber" formControlName="contactNumber" required
                 pattern="[0-9# '+-]*" type="tel" maxlength="15" />
        </mat-form-field>
      </div>
    </div>

    <div class="row customeRow">
      <div class="form-group col-md-4 col-lg-3 mb-0">
        <mat-form-field>
          <mat-select placeholder="Role" formControlName="b2BRoleId" required>
            <mat-option [value]="null">Select</mat-option>
            <mat-option *ngFor="let role of roleList" [value]="role.id">{{role.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="row customeRow">
      <div class="col-md-4 col-lg-3 mb-0 mt-3">
        <mat-form-field class="example-full-width">
          <input matInput [matDatepicker]="activationDate" placeholder="Activation Date" formControlName="activationDate" [min]="todaysDate"
                 [required]="!isEdit">
          <mat-datepicker-toggle matSuffix [for]="activationDate">
            <mat-icon matDatepickerToggleIcon>
              <i class="fa fa-calendar" aria-hidden="true"></i>
            </mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #activationDate></mat-datepicker>
        </mat-form-field>
      </div>
    </div>

    <div class="row customeRow" *ngIf="operation == 'edit'">
      <div class="col-md-4 col-lg-3 mt-3">
        <div class="form-check form-check-inline">
          <mat-checkbox formControlName="inActivateUser" [checked]= "isInactiveDateRequired" (change)= "toggleDeactivationDate($event)">Inactivate User</mat-checkbox>
        </div>
      </div>
    </div>

    <div class="row customeRow" *ngIf="isInactiveDateRequired == true">
      <div class="col-md-4 col-lg-3 mt-4 pt-2 mb-0">
        <mat-form-field class="example-full-width">
          <input matInput [matDatepicker]="deActivationDate" placeholder="Inactivation Date" formControlName="deActivationDate" [min]="todaysDate"
                   [required] = "isInactiveDateRequired">
          <mat-datepicker-toggle matSuffix [for]="deActivationDate">
            <mat-icon matDatepickerToggleIcon>
              <i class="fa fa-calendar" aria-hidden="true"></i>
            </mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #deActivationDate></mat-datepicker>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 controlButtons">
        <button title="Save" type="submit" class="genericButton activeButton mat-primary mr-2" [disabled]="!agentForm.valid" mat-raised-button>Save</button>
        <button title="Cancel" type="submit" class="genericButton defaultButton" mat-raised-button (click)="cancel()">Cancel</button>
      </div>
    </div>
  </form>

</div>



