body {
    font-family: 'maven_proregular';
    font-size:15px;
    color:#666;
    background:#29aae2 ;
}

.loginHeader {
    background-color: white !important;
    border-color: white !important;
    font-size: 2.5rem;
}

.loginBtn {
    padding: 1rem 4rem 1rem 4rem;
    font-size: 16px;
    text-align: left;
    margin-right: 2rem;
    background-color: #29aae2 !important;
    border-color: #29aae2 !important;
}

.loginHeader .panel-title {
    font-size: 22px;
    color: #333333;
    font-family: 'montserratregular';
}

.loginContainer .panel.panel-default {
    border-color: white;
    padding: 40px 122px 40px 122px;
    margin: 0;
    border-radius: 0;
}

.loginContainer .panel {
    webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.loginContainer .form-control {
    border-radius: 0px;
    font-size: 15px;
    box-shadow: none;
    font-family: 'maven_promedium';
    color: #333;
    border: 1px solid #e0e0e0;
}

.loginContainer .form-group {
    margin-bottom: 0;
}

.form-group.password {
    margin: 2.5rem 0 2.5rem 0;
}

.form-group.username {
    margin-top: 1.5rem;
}

.icon {
    margin-top: 10px;
    display: block;
    margin-bottom: 34px;
}

.loginContainer label {
    font-size: 15px;
    font-weight: normal;
    color: #666666;
    font-family: 'maven_promedium';
}

.login-page {
    margin-top: 17rem;
}

.loginContainer a {
    font-size: 15px;
    line-height: 4.5rem;
    text-decoration: none;
    color: #29aae2 ;
    font-family: 'maven_promedium';    
}

.alert-danger {
    width: 100%;
}

.loginContainer .panel-heading {
    padding: 10px 0;
}

.loginContainer .panel-body {
    padding: 0px;
}

.alert {
    margin-bottom: 2.5rem;
}

.loginContainer {
    -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.40);
    -moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.40);
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.40);
    padding: 0;
}


/** Proxima Nova **/


@font-face {
    font-family: 'maven_proregular';
    src: url('../Fonts/MPR/mavenpro-regular-webfont.woff2') format('woff2'),
         url('../Fonts/MPR/mavenpro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'maven_promedium';
    src: url('../Fonts/MPM/mavenpro-medium-webfont.woff2') format('woff2'),
         url('../Fonts/MPM/mavenpro-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'maven_probold';
    src: url('../Fonts/MPB/mavenpro-bold-webfont.woff2') format('woff2'),
         url('../Fonts/mavenpro-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'montserratmedium';
    src: url('../Fonts/MontMedium/montserrat-medium-webfont.woff2') format('woff2'),
         url('../Fonts/MontMedium/montserrat-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'montserratregular';
    src: url('../Fonts/MontReg/montserrat-regular-webfont.woff2') format('woff2'),
         url('../Fonts/MontReg/montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'montserratsemibold';
    src: url('../Fonts/MontSemiBold/montserrat-semibold-webfont.woff2') format('woff2'),
         url('../Fonts/MontSemiBold/montserrat-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body .btn{
    box-shadow: none;
}