:host {
  display: inline-block;
  position: relative;
  margin-left: 0 !important;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  font-size: 15px;
  line-height: 15px;
  color: #666;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

:host:not(.parent-is-popup) {
  margin-left: 16px;
  width: auto;
}

  :host(.parent-is-popup) {
    width:100%;
  }

    :host(.parent-is-popup) .router-link-active, :host(.parent-is-popup) .menu-item:hover {
      background: #007fb6;
    }

span {
  pointer-events: none;
}

.fa {
  margin-right: 9px;
}

.fa.fa-angle-down {
  margin: 0 0 0 11px;
  color: #80a1b3;
}

.glyphicon-menu-right, .glyphicon-menu-down {
  float: right;
}



.menu-item {
  padding: 14px 19px;
  font-size: 16px;
  color: #fff;
  border-right: 1px solid #4d7b95;
  /*font-family: proxima_nova_ltsemibold;*/
  align-items: center;
  height: 100%;
  display: flex;
  position:relative;
  outline:none;
}

  .menu-item:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px;
    height: 5px;
    background: rgba(255, 255, 255, .5);
    opacity: 0;
    border-radius: 100%;
    transform: scale(1, 1) translate(-50%);
    transform-origin: 50% 50%;
  }

@keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }

  20% {
    transform: scale(25, 25);
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: scale(40, 40);
  }
}

.menu-item:focus:not(:active)::after {
  animation: ripple 1s ease-out;
}



  .router-link-active, .menu-item:hover {
    background-color: #29aae2 ;
  }




.navbar li a .fw-menu-item {
  margin-left: 0;
  line-height: 0;
}

.subMenu li .menu-item {
  display: none;
}





.navbar li a .menu-item {
  display: none;
}


.menu-item .fa{
  font-size: 18px;
}

