<div class="container-fluid">
  <div class="mt-4 pt-2">

    <h1 class="mainHeading borderBottomNone pb-0">Templates</h1>
    <div class="row mt-4 mb-5">
      <form [formGroup]="searchTemplates" (ngSubmit)="findTemplates(searchTemplates.get('searchText').value,searchTemplates.get('startDate').value,searchTemplates.get('endDate').value)"
        class="w-100">
        <div class="col-md-12">
          <div class="lightBlueContainer pb-2 pl-4 pr-4 pt-4">
            <div class="row">
              <div class="col-md-12">
                <div class="row">

                  <div class="col-md-2">
                    <mat-form-field class="width80percent">
                      <span matPrefix>From &nbsp;</span>
                      <mat-datepicker-toggle matSuffix [for]="sdate">
                        <mat-icon matDatepickerToggleIcon>
                          <i class="fa fa-calendar" aria-hidden="true"></i>
                        </mat-icon>
                      </mat-datepicker-toggle>
                      <input matInput readonly [matDatepicker]="sdate" placeholder="DD-MMM-YY" formControlName="startDate">
                      <mat-datepicker #sdate></mat-datepicker>
                    </mat-form-field>
                    <span class="btn transparent-circle smallDeleteIcon ml-1" title="Delete">
                      <i aria-hidden="true" class="fa fa-times-thin" (click)="checkIsFromDateCleared();"></i>
                    </span>
                  </div>
                  <div class="col-md-2">
                    <mat-form-field class="width80percent">
                      <span matPrefix>To &nbsp;</span>
                      <input matInput readonly [matDatepicker]="enddate" placeholder="DD-MMM-YY" formControlName="endDate" [min]="searchTemplates.get('startDate').value">
                      <mat-datepicker-toggle matSuffix [for]="enddate">
                        <mat-icon matDatepickerToggleIcon>
                          <i class="fa fa-calendar" aria-hidden="true"></i>
                        </mat-icon>
                      </mat-datepicker-toggle>
                      <mat-datepicker #enddate></mat-datepicker>
                    </mat-form-field>
                    <span class="btn transparent-circle smallDeleteIcon ml-1" title="Delete">
                      <i aria-hidden="true" class="fa fa-times-thin" (click)="checkIsToDateCleared();"></i>
                    </span>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field>
                      <input matInput placeholder="Search by Template Name,  Last Modified By,  Last Modified Date/Time" formControlName="searchText" (keydown.backspace)="checkIsInputCleared()" (keyup.enter)="searchBtn.click()">
                    </mat-form-field>
                  </div>
                  <div class="col-md-2 text-right controlButtons">
                    <button [hidden]='isRead' class="genericButton activeButton mat-primary mat-raised-button genericSmallButton top10px" #searchBtn (click)="searchBtn.click()"
                      title="Search" type="submit">
                      Search</button>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="row mb-3">
      <div *ngIf="createView" class="col-md-12 text-right controlButtons">
        <button [hidden]='isRead' class="defaultButton genericButton genericSmallButton mat-raised-button" mat-raised-button title="Create New Template" type="button" (click)="createTemplate()">
          <i class="fa fa-plus-circle" aria-hidden="true"></i><span>Create New Template</span>
        </button>
      </div>
    </div>
    <mat-table #table [dataSource]="!isSearch ? templatesDataSource : filteredData" matSort matSortActive="updatedDate" matSortDirection="desc"
      class="genericTable mb-2 flexNone">

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header (click)="makeCopyFalse()"> Template Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="updatedBy">
        <mat-header-cell *matHeaderCellDef mat-sort-header (click)="makeCopyFalse()"> Last Modified By </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.updatedBy}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="updatedDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header (click)="makeCopyFalse()"> Last Modified Date/Time </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span>{{element.updatedDate |date:'dd-MMM-yy'}}</span>
          <span class="d-inline ml-2">{{element.updatedDate | date: "hh:mm a"}}</span>
        </mat-cell>
      </ng-container>

      <ng-container *ngIf="createView || deleteView" matColumnDef="actions" class="text-center">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="invisible"> </mat-header-cell>
        <mat-cell *matCellDef="let element" class="placeholderColorGray">
          <mat-select placeholder="Actions" name="Actions" [(ngModel)]="actions">
            <mat-option value="{{element.id}}-edit" #edit (click)="GoTemplateUpdate(edit.value)">Edit</mat-option>
            <mat-option value="{{element.id}}-{{element.name}}-copy" #copy (click)="GoTemplateCopy(copy.value)">Copy</mat-option>
            <mat-option value="{{element.id}}-delete" #delete (click)="GoTemplateDelete(delete.value)">Delete</mat-option>
            <mat-option *ngIf="deleteView" value="{{element.id}}-delete">Delete</mat-option>
          </mat-select>
        </mat-cell>

      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'highlight': isCopy}"></mat-row>
    </mat-table>
    <br>
    <br>
    <div style="color:orange" *ngIf="noDataAvailable">
      No Template is created.
    </div>
    <div class="paginationWrapper">
      <span class="pageCount" *ngIf="!noDataAvailable">Page: {{(pageEvent) ? pageEvent.pageIndex + 1 : 1}} of {{(pageEvent) ? Math.ceil(pageEvent.length/pageEvent.pageSize)
        : Math.ceil(totalRecords/20)}}</span>
      <mat-paginator *ngIf="!noDataAvailable" (click)="makeCopyFalse()" class="genericPagination" (page)="pageEvent = $event" #paginator1
        [pageSize]="20" [pageSizeOptions]="[5, 10, 20, 50]">
      </mat-paginator>
    </div>
  </div>
</div>