
<div class="modalContainer">
  <div class="modalHeading">
    <span class="float-left modalHeader">Latitude / Longitude</span>
    <!-- <span class="closeIcon float-right" title="Close" (click)="mapdialogRef.close(false)">
      <i aria-hidden="true" class="fa fa-times-thin"></i>
    </span> -->
  </div>
  <div class="modalContent">
    <div id='mapCanvas' style='width: 100%;height:350px'></div>
    <div class="controlButtons mt-5">
      <button class="genericButton activeButton mat-primary mat-raised-button" (click)="closeMap()">Save</button>
  </div>
  </div>
</div>

