<div class="row mb-4 alignItemCenter pt-4">
  <div class="col-md-8">
    <h2>Cancellation Policies</h2>
  </div>
  <div class="col-md-4 text-right controlButtons">
    <button type="submit" title='Create New Policy' *ngIf='isRead' class="defaultButton genericButton genericSmallButton mat-raised-button"
      mat-raised-button (click)='createcancellationpolicy()'>
      <i class="fa fa-plus-circle" aria-hidden="true"></i>
      <span>Create New Policy</span>
    </button>
  </div>
</div>
<mat-table #table [dataSource]="dataSource" class="genericTable mb-4 flexNone">
  <!-- policy name Column -->
  <ng-container matColumnDef="policyname">
    <mat-header-cell *matHeaderCellDef class="policyNameTh"> Policy Name </mat-header-cell>
    <!-- <mat-cell class="policyNameTh" *matCellDef="let element">
        {{element.name}}
      </mat-cell> -->
    <mat-cell class="policyNameTh" *matCellDef="let element">
      <a [routerLink]="['../cancellationpolicies',element.cancellationPolicyId, read]"> {{element.name}} </a>     
    </mat-cell>
  </ng-container>
  <!-- details Column -->
  <ng-container matColumnDef="details">
    <mat-header-cell *matHeaderCellDef class="policyDetailsTh"> Details </mat-header-cell>
    <mat-cell class="policyDetailsTh" *matCellDef="let element">
      <div class='row mb-3'>
        <div class="col">
          <h6 class="mb-1">Cancellation</h6>
          <ng-container *ngIf='element.cancellationPolicyTypeId == 1'>
            The amount is Non-refundable.
          </ng-container>
          <ng-container *ngIf='element.cancellationPolicyTypeId == 2'>
            <table class="defaultTable">
              <tr *ngFor="let c of element.cancellationPolicyClausesViewModelList.policyClausesList">
                <td>
                  The guest will be charged {{c.percentageCharge}} % of
                  <span *ngIf='element.cancellationPolicyClausesViewModelList.cancellationClauseChargeId == 1'>Full Amount </span>
                  <span *ngIf='element.cancellationPolicyClausesViewModelList.cancellationClauseChargeId == 2'>First Night </span>
                  if they cancel {{c.daysBeforeArrival}} days before arrival.
                </td>
              </tr>
            </table>
          </ng-container>
          <ng-container *ngIf='element.cancellationPolicyTypeId == 3'>
            The cancellation policy clause is General.
          </ng-container>
        </div>
      </div>
      <div class='row mb-0'>
        <div class="col">
          <h6 class="mb-1">No Show </h6>
          <span *ngIf='element.noShowCancellationChargesId == null;else noShowSelection '>
            There is no charge for No Show.
          </span>
          <ng-template #noShowSelection>
            <span>
              The guest will be charged the
              <span *ngIf='element.noShowCancellationChargesId == 1'>Full Amount</span>
              <span *ngIf='element.noShowCancellationChargesId == 2'>First Night</span>
              if they do not show up.
            </span>
          </ng-template>
        </div>
      </div>
    </mat-cell>
  </ng-container>

  <!-- status Column -->
  <ng-container matColumnDef="status">
    <mat-header-cell *matHeaderCellDef class="policyStatusTh"> Status </mat-header-cell>
    <mat-cell class="policyStatusTh" *matCellDef="let element">
      <ng-container *ngIf="element.isActive == true">
        <i class="fa fa-circle active_status" aria-hidden="true"></i>
        Active
      </ng-container>
      <ng-container *ngIf="element.isActive == false">
        <i class="fa fa-circle inactive_status" aria-hidden="true"></i>
        InActive
      </ng-container>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="action" class="policyActionTh">
    <mat-header-cell class="policyActionTh" *matHeaderCellDef>
    </mat-header-cell>
    <mat-cell class="policyActionTh placeholderColorGray" *matCellDef="let element">
      <mat-select *ngIf="isRead" placeholder='Actions' name='Actions' (change)='CancellationPolicyUpdate($event)' [(ngModel)]="dialogActions" >
        <mat-option value="{{element.cancellationPolicyId}}-edit"> Edit </mat-option>
        <mat-option value="{{element.cancellationPolicyId}}-delete"> Delete </mat-option>
        <!-- <mat-option value="{{element.cancellationPolicyId}}-inactive"> Inactive </mat-option> -->
        <span *ngIf="element.isActive == true">
          <mat-option value="{{element.cancellationPolicyId}}-inactive"> Inactive </mat-option>
        </span>
        <span *ngIf="element.isActive == false">
            <mat-option value="{{element.cancellationPolicyId}}-active"> Active </mat-option>
          </span>
      </mat-select>
    </mat-cell>
  </ng-container>


  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<div *ngIf="noDataAvailable" style="color:orange">
  No cancellation policy is created.
</div>
<div class="paginationWrapper">
  <span class="pageCount" *ngIf="!noDataAvailable">Page: {{(pageEvent) ? pageEvent.pageIndex + 1 : 1}} of {{(pageEvent) ? Math.ceil(pageEvent.length/pageEvent.pageSize) :
    Math.ceil(totalRecords/20)}}
  </span>
  <mat-paginator *ngIf="!noDataAvailable" class="genericPagination" (page)="pageEvent = $event" #paginator [pageSize]="20"
    [pageSizeOptions]="[5, 10, 20]">
  </mat-paginator>
</div>
<!-- </ng-template> -->