.img-placeholder {
    height:100%;
    vertical-align:middle;
}

.placeholderSection {
    width: 380px;
    height: 270px;
    margin-bottom: 12px;
    border: 1px solid #e3e3e3;
    background: #ededed;
    overflow: hidden;
    text-align:center;
}

.modalContainer {
    width: 720px;
}

.placeHolderImage {
    margin-top: 100px;
}

.roomType {
    max-height: 250px;
    overflow: auto;
    height: 100%;
}

.customFileUpload .genericButton {
    padding: 12px 25px;
}